@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    text-align: center;
    background-color: darkred;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-top: 15%;
}
h2 {
    margin-bottom: 10px;
}

input {
    margin-top: 6px;
    outline: none;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    padding: 5px 12px;
}

button {
    border: 1px solid white;
    color: white;
    padding: 5px 10%;
    outline: none;
    background-color: darkred;
    border-radius: 16px;
    margin-top: 25px;
    font-size: 16px;
}
button:hover{
    transition: all .5s;
    background-color: white;
    border: black;
    color: darkred;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 20px;
}

.right-side{ 
    padding-right: 15%;
}

.left-side {
    padding-left: 15%;
}

.top-side{
    padding-bottom: 20%;
    border-bottom:1px solid black ;
}

.bot-side {
    padding-top: 20%;
}

.top-side-left {
    border-right: 1px solid black;

}

.title {
    color: tomato;
    font-weight: bold;
}

@media(min-height:600px) {
    div.conteudo {
        display: none;
    }
    p.aviso {
        padding-top: 75px;
        color: #fff;
        font-size: 36px;
    }
    p.aviso::before {
        content: "Deite o celular para conseguir acessar o conteudo! Caso nao esteja utilizando um celular, recomendamos que use um para acessar o site...";
    }
    
}