@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #FF7247;
    font-family: 'Poppins', sans-serif;
}

h4 {
    padding: 30px;
    font-size: 50px;
    text-align: center;
    color: #FFF;
}

.ver_mais {
    padding: 7px;
    background-color: #FFF;
    color: #FF7247;
    border-radius: 50px;
    border: none;
}

.mensagem {
    text-align: center;
    color: #FFF;
}

.logo_image {
    margin-left: 30%;
}

.images {
    margin-left: 200px;
    margin-top: 50px;
}

.email_input {
    border: none;
    padding: 7px;
    outline: none;
    border-radius: 50px;
}

.nome_input {
    border: none;
    padding: 7px;
    outline: none;
    border-radius: 50px;
}